.container--card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
  max-width: 710px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding-bottom: 2rem;
}

.container--card:last-child {
  border: none;
}

.container--location {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
}

.container--data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
}

svg {
  width: 1rem;
  color: orangered;
}

#placeImg {
  width: 13rem;
  height: 18rem;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

h5 {
  letter-spacing: 0.2rem;
  font-weight: 400;
}

a {
  color: rgba(128, 128, 128, 0.89);
  font-size: smaller;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
  letter-spacing: 0.05rem;
}

h6 {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 0.6rem;
}
